

* {
  box-sizing: border-box;
}

.front {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  overflow: hidden;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url('./mon.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
}

.auth-wrapper {
  width: 100%;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: rgba(225, 141, 187, 0.28); /* Transparent gradient */
  color: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #ffd700;
  box-shadow: none;
}

.form-control {
  width: calc(100% - 20px);
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f6d624;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn:hover {
  background-color: #e9c639;
  transform: scale(1.05);
}

.auth-wrapper a {
  color: #fff;
  text-decoration: none;
  text-underline-offset: 5px;
}

.auth-wrapper a:hover {
  text-decoration: underline; 
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.auth-inner,
.form-control,
.auth-wrapper h3,
.btn,
.auth-wrapper a {
  animation: fadeInScale 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
